/* NavBar */

.NavegationBar-Container {
  color: black;
  background-color: white;
  box-shadow: inset 0 -1px #eaeaea;
  padding: 0.85em 15%;
}

/* NavBar END */

/* NavBar Items */

.NavegationBar-items {
  display: flex;
  align-items: center;
}

.nav-item {
  color: black;
  transition: opacity 0.3s ease;
  font-weight: 500;
}

.nav-item-register {
  background-color: black;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 1rem;
  transition: opacity 0.3s ease;
  font-weight: 500;
  transition: all 0.2s ease 0s;
  border: 1px solid black;
  margin-left: 1.5rem;
}

.nav-item:hover {
  color: black;
  opacity: 0.7;
}
.nav-item-register:hover {
  color: black;
  background-color: white;
  opacity: 0.7;
}

/* NavBar Items END */

/* Avatar */
.avatar-Container {
  align-items: center;
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 22px;
  cursor: pointer;
}

.Avatar {
  border-radius: 9999px;
  height: 35px;
  width: 35px;
}

.Avatar + span {
  margin-left: 8px;
  text-transform: capitalize;
}

.Avatar-Name {
  font-weight: 600;
  transition: opacity 0.3s ease;
}

span:hover {
  opacity: 0.7;
}
/* Avatar End */

.navbar {
  height: 97px;
  display: flex;
  justify-content: space-between;
}

.menu-usuario {
  background-color: unset !important;
  border: unset !important;
  padding: unset !important;
  box-shadow: unset !important;
  /* color: black !important; */
}

.menu-usuario:hover {
  background-color: unset !important;
  border-color: unset !important;
  box-shadow: unset !important;
}

.dropdown-1 {
  padding: 0.25rem 1.5rem;
  width: 100%;
  white-space: nowrap;
}

.items-dropdown {
  color: black;
  transition: opacity 0.3s ease;
}

.items-dropdown:hover {
  color: black;
}

.dropdown:active {
  background-color: unset !important;
}
/* NavBar End */

/* Encuesta */
.todo_encuesta_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.85em 15%;
  flex-wrap: wrap;
  height: 100%;
  height: 50vh;
}

.encuesta_container {
  width: 100% !important;
}

.confirmacion_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.encuesta_buttons_container {
  width: 100%;
  text-align: end;
}

.MuiFormLabel-root {
  color: black !important;
}

.MuiFormControl-root {
  width: 100%;
}

/* .MuiTypography-root {
  width: 100%;
} */
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiStepper-root {
  padding: 0.85em 15% !important;
}

.MuiStepIcon-root.MuiStepIcon-active {
  color: #9a66a8 !important;
}

.MuiStepIcon-root.MuiStepIcon-completed {
  color: #9a66a8 !important;
}
.MuiButton-containedPrimary {
  background-color: #9a66a8 !important;
}

.MuiButton-root {
  text-transform: none !important;
}

.FirstLogin_container {
  display: flex;
  padding: 0.875em 15%;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-wrap: wrap;
}

.FirstLogin_header {
  width: 100%;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}
.FirstLogin_detail {
  width: 100%;
  font-size: 25px;
  text-align: center;
}

.FirstLogin_button_container {
  text-align: center;
  margin-top: 1.05em;
}
.circle_confirm_icon {
  fill: green !important;
  font-size: 5.5rem !important;
}
.success_container {
  text-align: center;
}
/* Encuesta END */

/* Modal  */

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Modal__container {
  position: relative;
  top: 10rem;
  background-color: #ffffff;
  padding: 1rem;
  width: 315px;
  border-radius: 15px;
}

.Modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
}

/* Modal END */

/* Loader */
.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
/* Loader END */

/* AdminHome */

.Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 25px; */
}

.AdminHome_container {
  display: flex;
  justify-content: space-around;
  width: 1300px;
  flex-wrap: wrap;
}

.HomeButton-container {
  width: 100%;
  text-align: center;
}
.Novedades_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 881px;
  padding-left: 15px;
  background: #ffffff;
  box-sizing: border-box;

  height: 80px;
  margin: 0 3px 0px 3px;
  border: none;
  border-bottom: 0.7px solid #eaeaea;
  border-radius: 0;
}

.Novedades-details_container {
  font-size: 18px;
  max-width: 704.8px;
  height: 60px;
  /* display: flex; */
  align-items: center;
  width: 100%;
}
.Novedades-details_containerr .avatar-Container {
  margin-top: 0 !important;
  margin-right: 8px;
}

.Novedades-details_containerr {
  display: flex;
  align-items: center;
  height: 60px;
}

.Novedades-button_container {
  text-align: center;
  min-width: 160px;
}

.novedades-name {
  font-weight: 600;
  text-transform: capitalize;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

.ActNombre-container {
  overflow-wrap: anywhere;
}
.novedades-otherText {
  font-size: 16px;
}

.Novedades-button {
  background: #ffffff !important;
  border: 1px solid #000000 !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
  color: #000000 !important;
}

.Novedades-button:hover {
  background-color: black !important;
  color: white !important;
}

.Novedades-details {
  margin-bottom: 0;
  font-size: 16px;
}
.calendario-prueba {
  min-width: 294px;
  height: 286px;
  margin: 0 15px 15px 15px;
}
.calendario-prueba-emprendedor {
  width: 335px;
  height: 330px;
  margin: 0 15px 15px 15px;
}

.MuiMenuItem-root {
  font-family: "Inter", sans-serif !important;
  margin-left: 5px !important;
}

.accordion-container-emprendedor {
  max-width: 718px;
  width: 100%;
}
.accordion-container {
  max-width: 905.8px;
  width: 100%;
}
.SinNovedades-details {
  min-width: 100%;
}

.SinNovedades_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 881px;
  padding-left: 15px;
  background: #ffffff;
  box-sizing: border-box;

  height: 68px;
  margin: 0 3px 0px 3px;
  border: none;
  border-bottom: 0.7px solid #eaeaea;
  border-radius: 0;
}

.MuiTypography-body2 {
  font-family: "Inter", sans-serif !important;
}
.MuiFormLabel-root {
  font-family: "Inter", sans-serif !important;
}

.MuiInputBase-root {
  font-family: "Inter", sans-serif !important;
}

.MuiFormControl-root.AñadirUsuario-Button {
  width: 92% !important;
}

/* Calendario */
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
}

.react-calendar__tile--now {
  background: #9a66a8 !important;
  color: white;
  border-radius: 9999px;
}
.react-calendar__tile {
  padding: 0.65em 0.65em !important;
}
.react-calendar__navigation {
  margin-bottom: 0 !important;
}
.react-calendar {
  line-height: 1.3em !important;
  border: none !important;
  width: 294px !important;
  height: 286px !important;
}

.button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: none !important;
  border-radius: 9999px;
}
.react-calendar__tile--active {
  background: none !important;
  /* border: 1px solid #9a66a8 !important; */
  border-radius: 9999px;
}
.react-calendar__tile--active abbr {
  /* border: 1px groove #9a66a8 !important; */
  color: black !important;
  /* border-radius: 9999px; */
}

.react-calendar__month-view__days__day--neighboringMonth.react-calendar__tile--now {
  color: white;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
  display: none !important;
}
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  display: none !important;
}
/* Calendario END */

/* Accordeon */
.MuiAccordionDetails-root {
  padding: 0px 10px 0px !important;
  justify-content: center;
}

.MuiAccordionSummary-root {
  min-height: 50px;
}

.MuiAccordionSummary-root.Mui-expanded {
  min-height: 50px !important;
}

.MuiAccordionSummary-content {
  margin: 0 !important;
}

.MuiIconButton-label {
  color: black !important;
}

.MuiAccordion-root::before {
  background-color: unset !important;
}
/* Accordeon END */

/* AdminHome END */

/* Revisar autodiagnostico */
.MuiListItem-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.datos-proyecto_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.875em 15%;
  /* justify-items: center */
}

.datos-proyecto_container .FirstLogin_button_container {
  grid-column-start: 1;
  grid-column-end: 3;
}

.MuiButton-root.AñadirUsuario-input {
  max-width: 150px;
}

.datos-proyecto_container .datos-proyecto {
  width: 95% !important;
}

.MuiList-root {
  width: 95%;
}

.Button-volver {
  padding: 0.875em 15%;
  width: 100%;
}

.MuiButton-containedSecondary {
  background-color: red !important;
  transition: all 0.2s ease !important;
  border: 0.5px red solid !important;
}
.MuiButton-containedSecondary:hover {
  /* opacity: 0.7 !important; */
  color: red !important;
  background-color: white !important;
  border: 0.5px red solid !important;
}

.MuiTypography-body1 {
  font-family: "Inter", sans-serif !important;
  font-weight: 500 !important;
  font-size: 15px !important;
}

.RevisarAutodiagnostico-List {
  max-width: 635.733px !important;
}
/* Revisar autodiagnostico END */

/* EmprendedorHome container */

.head_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 964px; */
  flex-wrap: wrap;
}

.head-ruta_container {
  display: flex;
  align-items: center;
}

.head-activitiesReport_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 340px;
}

.head-activity {
  display: flex;
  max-width: 145px;
}

.AdminHome_container-emprendedor {
  display: flex;
  justify-content: space-around;
  width: 1300px;
  flex-wrap: wrap;
}
/* Emprendedor Home */
.novedades-otherText-emprendedor {
  font-size: 12px;
}

.novedades-otherText-mentorName {
  font-size: 12px;
}

.novedades-otherText-emprendedor-reunion {
  font-size: 12px;
}
.novedades-name-emprendedor {
  font-weight: 500;
}

.Novedades-details-emprendedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.h1-headInfo {
  font-weight: 600;
}

.sideMenu-Item-emprendedor .MuiTypography-body1 {
  color: black;
  font-size: 17px !important;
}

.sideMenu-Item-emprendedor:hover {
  border-bottom: none;
  cursor: pointer;
}
/* Emprendedor Home END */

/* Emprendedor calendario */
.calendario-prueba-emprendedor .react-calendar {
  width: 335px !important;
  height: 330px !important;
}

.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  color: white;
}

/* Emprendedor calendario END */

/* EmprendedorHome container END */

.ml-1.mb-2.font-weight-bold {
  font-weight: 600 !important;
}

/* MentorHome container  */
.novedades-otherText-mentor {
  font-size: 12px;
}

.accordion-icon_container {
  display: flex;
  align-items: center;
}
.addboxicon {
  color: #9a66a8;
  font-size: 27px !important;
}

.MuiPaper-root.MuiAccordion-root.mt-2.MuiAccordion-rounded.MuiPaper-elevation1.MuiPaper-rounded {
  overflow-x: hidden;
}

.addboxicon_container {
  padding: 5px !important;
  margin-bottom: 0.5rem !important;
}

.HomeButton-container-mentor .MuiTypography-root {
  width: unset;
}

.table-emprendedores_container {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  max-height: 241px !important;
}
/* MentorHome container END */

/* Perfil Usuario  */

.datos-usuario_container {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}

.UserImage_container .Avatar {
  width: 150px !important;
  height: 150px !important;
}
.UserImage_container {
  margin-right: 4rem;
  margin-left: 4rem;
}
.UserInformation_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 70%;
  width: 100%;
}
/* Perfil Usuario END */

/* Crear nueva actividad */
.buttons-crearActividad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.crearActividad_container {
  width: 100%;
  padding: 0.875em 7%;
}

.MuiPickersDay-daySelected {
  background-color: #9a66a8 !important;
}

.agregar-button {
  background-color: #32bb69 !important;
  color: white !important;
  transition: all 0.2s ease !important;
  border: 1px solid #32bb69 !important;
}

.agregar-button:hover {
  background-color: white !important;
  color: #32bb69 !important;
}

.selectDate {
  width: 25%;
}
/* Crear nueva actividad END */

/* Actividad info  */

.Home-Actividad-Info_container {
  display: flex;
  flex-wrap: wrap;
}

.actividades-info_container {
  padding: 0.875em 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.actividades-info-details_container {
  max-width: 1010px;
  overflow-wrap: anywhere;
  width: 100%;
}

.actividades-info-comments_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 51px;
}

.actividades-info-comments_container .avatar-Container {
  margin-top: unset;
}

.actividades-enviar_container {
  max-width: 300px;
  width: 100%;
  max-height: 250px;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
  border-radius: 0.5rem;
}

.actividades-enviar-details_container {
  padding: 1.5rem;
  height: 100%;
  text-align: center;
}

.labelButton {
  width: 100%;
}

/* .actividades-enviar-buttons_container {
  max-width: 233px;
  width: 100vw;
} */
/* Actividad info END */

/* Emprendimientos Page */

.EmprendimientoPage {
  display: flex;
  padding: 0.875em 15%;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  width: 100%;
}
.EmprendimientoPage_container {
  border: 0.7px solid #969696;
  border-radius: 5px;
  width: 100%;
  padding: 9px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.overflow-wrap {
  overflow-wrap: break-word;
}
/* .EmprendimientoPage-details_container {
} */
/* Emprendimientos Page END */

/* Emprendimientos Info */

.EmprendimientoInfo_container {
  display: flex;
  padding: 0.875em 15%;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-height: 50vh;
  height: 100vh;
}

.EmprendimientoInfo-subDetails_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.EmprendimientoInfo-subDetails_container .datos {
  /* max-width: 257px; */
  max-width: 48%;
  width: 100%;
}

/* Emprendimientos Info END */

/* REPORTE DE ETAPA  */

.Reporte-ActivitiesInfo_container {
  max-width: 658px;
  max-height: 235px;
  /* width: 100%; */
  text-align: center;
}

.LinearProgressEtapa {
  height: 65px;
}

/* REPORTE DE ETAPA END */

.BreadCrumbs-container {
  /* margin: auto; */
  padding: 0.875em 15%;
}

.MuiButtonBase-root {
  outline: none !important;
}

.novedades-fecha {
  min-width: 100px;
}

.MuiBreadcrumbs-separator {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.MuiBreadcrumbs-ol {
  font-size: 13px;
}

.MuiListItem-root {
  overflow-wrap: anywhere;
  padding-top: 6px !important;
}

/* .MuiBreadcrumbs-ol {
  justify-content: center;
} */

/* Media Queries */

@media screen and (max-width: 1240px) {
  .Novedades-details {
    font-size: 16px;
  }
  .actividades-info_container {
    padding: 0.875em 7%;
  }
  .NavegationBar-Container {
    padding: 0.875em 7%;
  }
  .BreadCrumbs-container {
    /* margin: auto; */
    padding: 0.875em 7%;
  }
  .EmprendimientoPage {
    padding: 0.875em 7%;
  }

  .actividades-info_container {
    padding: 0.875em 7%;
  }

  .datos-proyecto_container {
    padding: 0.85em 7%;
  }

  .EmprendimientoInfo_container {
    padding: 0.875em 7%;
  }
  .Button-volver {
    padding: 0.875em 7%;
  }
  .todo_encuesta_container {
    padding: 0.875em 7%;
  }
  .actividades-info-details_container {
    max-width: 703px;
  }
}
@media screen and (max-width: 1103px) {
  .buttons-crearActividad {
    display: unset;
  }
  .inputAct {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .MuiFormLabel-root.mt-4.ml-2.mb-1 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .selectDate {
    width: 100%;
  }
}
@media screen and (max-width: 1230px) {
  .confirmacion_container {
    grid-template-columns: 1fr;
  }
  .react-calendar {
    display: none;
  }

  .calendario-prueba-emprendedor .react-calendar {
    display: inherit;
  }

  .calendario-prueba {
    display: none;
  }
  .AdminHome_container {
    justify-content: center;
  }
  .AdminHome_container-emprendedor {
    justify-content: center;
  }
}
@media screen and (max-width: 1082px) {
  .calendario-prueba-emprendedor .react-calendar {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .datos-proyecto_container {
    grid-template-columns: 1fr;
  }

  .datos-proyecto_container .FirstLogin_button_container {
    grid-column-end: unset;
    grid-column-start: unset;
  }

  .MuiFormControl-root.AñadirUsuario-Button {
    width: 100% !important;
  }
  .datos-proyecto_container .datos-proyecto {
    width: 100% !important;
  }
}
@media screen and (max-width: 991px) {
  .nav-item-register {
    margin-left: unset;
    margin-top: 0.7rem;
  }

  .NavegationBar-items {
    margin-top: 25px;
  }

  .calendario-prueba-emprendedor {
    width: unset;
    height: unset;
  }
  .actividades-info_container {
    flex-wrap: wrap;
  }
  .actividades-info-details_container {
    max-width: 100%;
  }
  .actividades-enviar_container {
    margin-left: 0;
    max-width: 100%;
  }
}
@media screen and (max-width: 943px) {
  .UserInformation_container {
    max-width: 85%;
    margin-top: 2rem;
  }

  .UserInformation_container .MuiListItem-root {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .NavegationBar-Container {
    padding: 0.85em 4.5em;
  }
  span {
    /* display: none; */
    font-size: 14px;
  }
  .LoginRegister-form-question-link strong {
    font-size: 16px;
  }
  .navbar {
    flex-wrap: nowrap;
  }
  .FirstLogin_header {
    width: 100%;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
  }
  .FirstLogin_detail {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 681px) {
  .novedades-otherText {
    display: none;
  }
  .novedades-otherText-mentorName {
    display: none;
  }

  .novedades-fecha {
    margin-left: 1rem !important;
    margin-right: 0 !important;
  }
  .novedades-fecha-reunion {
    /* min-width: 130px !important; */

    margin-left: 1rem !important;
  }
  .Novedades-details {
    font-size: 14px;
  }

  /* .Avatar {
    width: 30px;
    height: 30px;
  } */

  .LoginRegister-form-button {
    font-size: 16px !important;
    height: 2.8em !important;
  }
}
@media screen and (max-width: 600px) {
  .NavegationBar-Container {
    padding: 0 1.8em 0 0.85em;
  }
  .Avatar-Name {
    display: none;
  }

  .todo_encuesta_container {
    padding: 0.85em 10%;
  }
  .datos-proyecto_container {
    padding: 0.85em 7%;
  }
  .Button-volver {
    padding: 0.85em 7%;
    text-align: center;
  }
  /* .button-2 {
    display: unset !important;
  } */
  .button-1 {
    margin: 0 auto !important;
    width: 86% !important;
  }
  .button-1 {
    margin: 0 auto !important;
    /* width: 86% !important; */
  }
  .MuiTypography-body1 {
    font-size: 14px !important;
  }

  .sideMenu-Item-emprendedor .MuiTypography-body1 {
    font-size: 14px !important;
  }

  h3 {
    font-size: 22px;
  }

  .Novedades_container {
    /* margin: 0 3px 3px 3px; */
    border: none;
    border-bottom: 0.7px solid #eaeaea;
    border-radius: 0;
  }

  .table-emprendedores_container {
    grid-template-columns: 1fr !important;
    max-height: 320px !important;
  }

  .UserInformation_container {
    grid-template-columns: 1fr;
  }

  .UserInformation_container .MuiList-root {
    width: unset;
  }
  .UserInformation_container {
    max-width: 100%;
  }
  .EmprendimientoInfo-Button-volver {
    text-align: center;
  }
}

@media screen and (max-width: 524px) {
  .Novedades_container {
    padding-left: 5px;
  }
}

@media screen and (max-width: 455px) {
  .Novedades-button_container {
    min-width: 118px;
  }
  .head_container {
    justify-content: center;
  }

  .head-activitiesReport_container {
    text-align: center;
  }

  .h1-headInfo {
    margin-right: 0 !important;
    margin-bottom: 12px !important;
  }

  .EmprendimientoInfo-subDetails_container .datos {
    max-width: 100%;
  }
}
@media screen and (max-width: 387px) {
  .MuiButton-root.Novedades-button {
    padding: 4px 10px;
  }
  .Novedades-button_container {
    min-width: 105px;
  }
  .Novedades_container {
    height: 80px;
  }
  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.mr-2.MuiButton-containedPrimary {
    padding: 4px 10px;
  }
  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.ml-2.MuiButton-containedPrimary {
    padding: 4px 10px;
  }
}
@media screen and (max-width: 332px) {
  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.mr-2.MuiButton-containedPrimary.HomeButton1 {
    margin-right: 0px;
  }
  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.ml-2.MuiButton-containedPrimary.HomeButton2 {
    margin-left: 0px;
  }
  .sinReuniones-h6 {
    font-size: 13.6px;
  }
}
@media screen and (max-width: 308px) {
  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.mr-2.MuiButton-containedPrimary.HomeButton1 {
    margin-right: auto !important;
  }
  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.ml-2.MuiButton-containedPrimary.HomeButton2 {
    margin-left: auto !important;
    /* margin-top: 8px; */
  }
}

/* Media Queries END */
