@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700");

:root {
  --dark: #14171d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", sans-serif;
}

/* html,
body {
  height: 100%;
  background-color: black !important;
}

.bg-dark {
  background-color: black !important;
} */
